<!DOCTYPE html>
  <head>
    <title>WHAT'S UP {{ swear }}</title>
    <meta charset="utf-8">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

	
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
	



	
  </head>
<body>
  <div id="container">

    <div id="header">
      <img src="{{ url_for('static', filename='images/whomst.jpg') }}">
    </div>

    <div id="optionsCont">
      <div id="options">
      <h2><span>FIND NEARBY</span></h2>
        <a rel="">bathrooms</a>
        <a rel="">labs.</a>
        <a rel="">study spaces.</a>

      <h2><span>FILTERS</span></h2>
        <a rel="">accessibility</a>
        <a rel="">tba.</a>
        <a rel="">tba.</a>
      </div>
    </div>

    <div id="tEmpty"></div>

    <div id="search">
      FIND YOUR CLASS <em>!</em>
      <!-- SEARCHBAR ! -->
    </div>
    <div id="canvas"></div>

    <div id="bEmpty"></div>

    <div id="bottom"></div>

  </div>
</body>
</html>
